@font-face {
  font-family: 'MCFont';
  src: url('../fonts/zpix.woff2') format('woff2'),
  url("../fonts/zpix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}